/* Imports */
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

/* Tags "primitivas" */
body{
    font-family: 'RocknRoll One', Arial, sans-serif;
    background-color: #b474a4;
    background-image: radial-gradient(
        #642a56 2px,
        transparent 2px
    );
    background-size: 20px 20px;
    color: white;
}

img{
    border-radius: 5px;
    box-shadow: -10px 10px 10px #0000004f;
}

img.resize {
    height: auto;
}

/* Informações da rede social */
.group:before,
.group:after {
    content: "";
    display: table;
} 

.group:after {
    clear: both;
}

.logoRedeSocial{
    position: relative;
    float: right;
    width: 7%;
    left: 20px;
}

img[alt=Facebook]{
    background-color: white;
}

.textoRedeSocial{
    font-size: 1.1em;
    position: relative;
    left: 50px;
    text-align: left;
    width: 56%;
    padding: 15px 0 0 0;
    float: right;
}

/* Barra de navegação */
.botao{
    float: left;
    width: 20%;
}

.logo{
    width: 20%;
    float: left;
    right: 10px;
}

img[alt=logo]{
    width: 100%;
    box-shadow: none;
    -webkit-filter: drop-shadow(0.5px 0.5px 0 #3a1832)
                    drop-shadow(-0.5px -0.5px 0 #3a1832);
    filter: drop-shadow(0.5px 0.5px 0 #3a1832) 
            drop-shadow(-0.5px -0.5px 0 #3a1832);
}

#desabilitado{
    width: 19%;
    opacity: 0.9;
    cursor: not-allowed;
}

#botaoDesabilitado{
    background-color: #3a1832;
    color: white;
}

#botaoDesabilitado:hover{
    background-color: #3a1832;
    color: white;
}

#primeiroBotao{
    border-radius: 10px 0 0 10px;
}

.b-barraNav{
    width: 100%;
    height: 180px;
    border: none;
    color: #3a1832;
    background-color: white;
    transition-duration: 0.4s;
    font-family: 'RocknRoll One', Arial, sans-serif;
    font-size: 1.2em;
}

.b-barraNav:hover{
    background-color: #3a1832;
    color: white;
}

.barraNav{
    width: 100%;
    margin-bottom: 20px;
}

.barraNav:before,
.barraNav:after {
    content: "";
    display: table;
} 

.barraNav:after {
    clear: both;
}